body {
  border: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 12px;
  max-width: 800px;
  font-family: arial, sans-serif;
}

.content table {
  border: 0;
  width: 100%;
  border-spacing: 0;
}

.content table tr td {
  padding: 0;
  transition: 300ms ease all;
}

.content table tr td[type='number'] {
  width: 32px;
  color: #555;
  font-size: 12px;
  min-width: 32px;
  max-width: 32px;
  text-align: center;
  font-family: monospace;
}

.content table tbody tr td[type='number'],
.content table tbody tr td[type='blocked'] {
  border-right: solid 1px rgba(0,0,0,0.05);
}

.content table thead tr td {
  color: #555;
  user-select: none;
  padding: 10px 0 !important;
}

.content table tbody tr td[type='close'] {
  padding: 0;
  width: 48px;
  height: 32px;
  min-width: 48px;
  line-height: 32px;
  border-left: solid 1px rgba(0,0,0,0.05);
  background: url('icons/close-black.svg') no-repeat center center;
  background-size: 8px;
}

.content table tbody tr td[type='close']:hover {
  cursor: pointer;
  background: #d86355 url('icons/close-white.svg') no-repeat center center;
  background-size: 8px;
}

.content table tr td[type='blocked'] {
  font-size: 12px;
  min-width: 175px;
  max-width: 250px;
  padding: 0 0 0 5px;
}

.content table tbody tr td[type='blocked'] {
  font-family: monospace;
}

.content table tr td[type='redirect'] {
  padding: 0;
  width: 100%;
  max-width: 250px;
}

.content table tr td input[type='text'] {
  border: 0;
  margin: 0;
  color: #555;
  width: 100%;
  height: 42px;
  outline: none;
  padding: 10px;
  font-size: 12px;
  min-width: 120px;
  font-family: monospace;
  box-sizing: border-box;
}

.content .options {
  border-spacing: 0 5px;
  background-color: #fff;
}

.content .options tbody tr {
  outline: solid 1px rgba(0,0,0,0.1);
}

.content .options tr td input {
  vertical-align: middle;
}

.content .checkbox {
  width: 48px;
  min-width: 48px;
  max-width: 48px;
  text-align: center;
  border-left: solid 1px #e5e5e5;
}

.content .title {
  width: 100%;
  color: #555;
  height: 42px;
  padding: 0 10px;
  user-select: none;
}

.content .header {
  color: #555;
  height: 42px;
  margin: 10px 0;
  background-color: rgba(0,0,0,0.1);
}

.content .item {
  padding: 0 10px;
  user-select: none;
}

.content .item.general {border-left: solid 5px #25a52f}
.content .item.iframes {border-left: solid 5px #3788dc}
.content .item.domains {border-left: solid 5px #dc4837}

.content #blocklist-iframes tr td[type='blocked'] {color: #3788dc}
.content #blocklist-domains tr td[type='blocked'] {color: #dc4837}

.content #test, 
.content #add-domain, 
.content #add-iframe {
  width: 48px;
  height: 100%;
  cursor: pointer;
  text-align: center;
  background-size: 10px;
}

.content #test {
  border-left: solid 1px #fff;
}

.content #add-domain, 
.content #add-iframe {
  border-left: solid 1px #e5e5e5;
}

.content #test svg,
.content #add-domain svg, #add-iframe svg,
.content #add-domain svg, #add-iframe svg {
  fill: #777;
  pointer-events: none;
  vertical-align: middle;
}

.content #test:hover,
.content #add-domain:hover, #add-iframe:hover,
.content #add-domain:hover, #add-iframe:hover {
  background-color: rgba(0,0,0,0.1);
}

.toolbar {
  top: 0;
  right: 0;
  z-index: 11;
  width: 42px;
  position: absolute;
}

.toolbar table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}

.toolbar table tr td {
  padding: 0;
  width: 100%;
  color: #777;
  height: 42px;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  font-family: arial,sans-serif;
}

.toolbar table tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

.toolbar table tr td svg {
  fill: #777;
  pointer-events: none;
  vertical-align: middle;
}

@media (max-width: 900px) {
  body {
    border: 0;
    margin: auto;
    padding: 5px;
    width: calc(100% - 10px);
  }
  .toolbar {
    right: 0;
    bottom: 0;
    top: unset;
  }
}